# cache
*.egg-info/
__pycache__/
*.pyc
*.pyo
.DS_Store

# virtual environments
venv/
.venv/

# configs
configs/*.env
!configs/example.env

# data files
data/**/*.csv
data/**/*.pdf
!data/georef-germany-gemeinde.csv
!data/raw/target/
!data/raw/features/46241-01-04-5-road-accidents.csv
!data/raw/features/population.csv
!data/raw/features/unemployment.csv
!data/raw/municipalities_2022.csv
