# cache
*.egg-info/
__pycache__/
*.pyc
*.pyo
.DS_Store

# virtual environments
venv/
.venv/

# configs
configs/*.env
!configs/example.env

# data files
data/raw/*
!data/raw/unemployment.csv
!data/raw/municipalities_2022.csv
